<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body style="background-color: blueviolet;">
	<pre>
    My Bonnie lies over the ocean.

		  My Bonnie lies over the sea.

		  My Bonnie lies over the ocean.

		  Oh, bring back my Bonnie to me.
	</pre>

	<p>
	  My Bonnie lies over the ocean.

	  My Bonnie lies over the sea.

	  My Bonnie lies over the ocean.

	  Oh, bring back my Bonnie to me.
	</p>

	<h1 style="font-size:900%;" style="text-align: center;">This is a heading</h1>
	<p style="text-align: right;">This is a paragraph.</p>
</body>
</html>